<blockquote class="quote">
    
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquam rerum est enim mollitia debitis consequatur laboriosam quos, qui laborum, explicabo quasi. Nemo natus, autem velit rem veniam est soluta quis beatae dolorem minus, assumenda dignissimos suscipit culpa fugit iure eos. Reiciendis debitis dolores ullam quaerat nulla provident maiores saepe.
    </p>

    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
    
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">ABC Company</p>
        </div>
      </div>
    </footer>

  </blockquote>